{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">HOSTS</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Overview of all hosts</li>
    </ol>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <ul class="nav nav-tabs float-xs-left" id="scanlistTab" role="tablist">
                        <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="scan-info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-pane" type="button" role="tab" aria-controls="info-tab-pane" aria-selected="true">Info</button>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item" role="presentation">
                        <button class="nav-link" id="create-scan-tab" data-bs-toggle="tab" data-bs-target="#create-scan-tab-pane" type="button" role="tab" aria-controls="create-scan-tab-pane" aria-selected="false">Options</button>
                        </li>
                        {% else %}
                        <li class="nav-item" role="presentation">
                        <button class="nav-link btn-primary" id="create-scan-tab" data-bs-toggle="tab" data-bs-target="#create-scan-tab-pane" type="button" role="tab" aria-controls="create-scan-tab-pane" aria-selected="false" disabled>Options</button>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="tab-content" id="scanlistTabContent">
                    <div class="tab-pane fade show active" report-url="{% url 'website:scans-totals' %}" id="info-tab-pane" role="tabpanel" aria-labelledby="scan-info-tab" tabindex="0">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" id="scansCreatedTotal">...</li>
                                <li class="list-group-item" id="scansActiveTotal">...</li>
                                <li class="list-group-item" id="scansRunningTotal">...</li>
                              </ul>                            
                        </div>
                    </div>
                    <div class="tab-pane fade" id="create-scan-tab-pane" role="tabpanel" aria-labelledby="create-scan-tab" tabindex="0">
                        <div class="card-body">
                            {% if user.is_authenticated %}
                                <a href="{% url 'website:new-scan' %}" class="btn btn-primary">Create New Host</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    Some other host info
                </div>
                <div class="card-body"></div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Scans
        </div>
        <div class="card-body">
        {% if scans_list %}
            <table id="datatablesSimple5" class="table" report-url="{% url 'website:scans-refresh' %}">
                <thead>
                    <tr>
                        <th>Last Execution at</th>
                        <th>Next Execution at</th>
                        <th>Name</th>
                        <th>Current Status</th>
                        <th>Active</th>
                        <th>Group</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Last Execution at</th>
                        <th>Next Execution at</th>
                        <th>Name</th>
                        <th>Current Status</th>
                        <th>Active</th>
                        <th>Group</th>
                    </tr>
                </tfoot>
                <tbody>
                {% for scan in scans_list %}
                    <tr>
                        <td>{{ scan.formatted_last_executed }}</td>
                        <td>{{ scan.formatted_next_execution_at }}</td>
                        <td><a href="{% url 'website:scan-detail' scan.pk %}"> {{ scan.scanName }}</a></td>
                        <td class="table-default">{{ scan.formatted_status }}</td>
                        <td class="table-default">{{ scan.formatted_active }}</td>
                        <td><a href="{% url 'website:groups-detail' scan.resourcegroup.id %}"> {{ scan.resourcegroup }}</a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}
            <p>'There are no hosts in the database.' </p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'website/js/scanlistupdate.js' %}"></script>
{% endblock js %}