{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid px-4">
    <h2 class="d-inline-block my-auto mt-4">Host: {{ hosts.main_address }}</h2>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Group: 
            <a href="{% url 'website:groups-detail' hosts.resourcegroup.id %}">{{ hosts.resourcegroup | upper }}</a>
        </li>
    </ol>
    <div class="row">
        <div class="col-xl-6 col-md-6">
            <div class="card bg-info text-white mb-4">
                <div class="card-header">
                    <ul class="nav nav-tabs float-xs-left" id="myHostTab" role="tablist">
                        <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="host-info-tab" data-bs-toggle="tab" data-bs-target="#host-info-tab-pane" type="button" role="tab" aria-controls="host-info-tab-pane" aria-selected="true">Info</button>
                        </li>
                        {% if user.is_superuser %}
                        <li class="nav-item" role="presentation">
                        <button class="nav-link" id="host-options-tab" data-bs-toggle="tab" data-bs-target="#host-options-tab-pane" type="button" role="tab" aria-controls="host-options-tab-pane" aria-selected="false">Options</button>
                        </li>
                        {% else %}
                        <li class="nav-item" role="presentation">
                        <button class="nav-link" id="host-options-tab" data-bs-toggle="tab" data-bs-target="#host-options-tab-pane" type="button" role="tab" aria-controls="host-options-tab-pane" aria-selected="false" disabled>Options</button>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                    <div class="tab-content" id="myHostTabContent">
                        <div class="tab-pane fade show active" id="host-info-tab-pane" role="tabpanel" aria-labelledby="host-info-tab" tabindex="0">
                            <div class="card-body">
                                <div class="card-body">
                                    {% if hosts.name %}
                                    <h6>{{ hosts.name }}</h6>
                                    {% else %}
                                    <h6>{{ hosts.main_address }}</h6>
                                    {% endif %}
                                    {% if hosts.description %}
                                    <p class="card-text">{{ hosts.description }}</p>
                                    {% endif %}
                                    <hr>
                                </div>
                                <div class="row">
                                    <div class="col-6">Hostnames:</div>
                                    {% if hosts.hostnames %}
                                    <div class="col-6 text-right">{{ hosts.hostnames }}</div>
                                    {% else %}
                                    <div class="col-6 text-right">-</div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-6">IPv4:</div>
                                    {% if hosts.ipv4 %}
                                    <div class="col-6 text-right">{{ hosts.ipv4 }}</div>
                                    {% else %}
                                    <div class="col-6 text-right">-</div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-6">IPv6:</div>
                                    {% if hosts.ipv6 %}
                                    <div class="col-6 text-right">{{ hosts.ipv6 }}</div>
                                    {% else %}
                                    <div class="col-6 text-right">-</div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-6">MAC:</div>
                                    {% if hosts.mac and hosts.vendor %}
                                    <div class="col-6 text-right">{{ hosts.mac }} ({{hosts.vendor}})</div>
                                    {% elif hosts.mac %}
                                    <div class="col-6 text-right">{{ hosts.mac }}</div>
                                    {% else %}
                                    <div class="col-6 text-right">-</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="host-options-tab-pane" role="tabpanel" aria-labelledby="host-options-tab" tabindex="0">
                            <div class="card-body">
                                {% if user.is_superuser %}
                                    <a href="{% url 'website:edit-host' hosts.id %}" class="btn btn-primary">Edit</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6">
            <div class="card bg-secondary text-white mb-4">
                <div class="card-header">
                    <ul class="nav nav-tabs float-xs-left" id="myHostTab2" role="tablist">
                        <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="host-status-tab" data-bs-toggle="tab" data-bs-target="#host-status-tab-pane" type="button" role="tab" aria-controls="host-status-tab-pane" aria-selected="true">Status</button>
                        </li>
                        <li class="nav-item" role="presentation">
                        <button class="nav-link" id="host-stats-tab" data-bs-toggle="tab" data-bs-target="#host-stats-tab-pane" type="button" role="tab" aria-controls="host-stats-tab-pane" aria-selected="false">Stats</button>
                        </li>
                    </ul>
                </div>
                    <div class="tab-content" id="myHostTabContent2">
                        <div class="tab-pane fade show active" id="host-status-tab-pane" role="tabpanel" aria-labelledby="host-status-tab" tabindex="0">
                            <div class="card-body">
                                <div class="card-body" id="stable-hoststatus">
                                    <div class="row">
                                        <div class="col-6">Status: </div>
                                        <div class="col-6 text-right" id="hoststatus">{{ hosts.status }}</div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-6">Uptime:</div>
                                        {% if hosts.uptime != '0' %}
                                        <div class="col-6 text-right" id="hostuptime">{{ hosts.uptime }}</div>
                                        {% else %}
                                        <div class="col-6 text-right" id="hostuptime">unknown</div>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col-6">Distance:</div>
                                        {% if hosts.distance %}
                                        <div class="col-6 text-right" id="hostdistance">{{ hosts.distance }}</div>
                                        {% else %}
                                        <div class="col-6 text-right" id="hostuptime">unknown</div>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col-6">Last Reboot:</div>
                                        {% if hosts.lastboot %}
                                        <div class="col-6 text-right" id="hostlastboot">{{ hosts.lastboot }}</div>
                                        {% else %}
                                        <div class="col-6 text-right" id="hostuptime">unknown</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>            
                        </div>
                        <div class="tab-pane fade" id="host-stats-tab-pane" role="tabpanel" aria-labelledby="host-stats-tab" tabindex="0">
                            <div class="card-body">
                                <div class="card-body" id="hostservicechanges" data-ajax-target="{% url 'website:host-changes' hosts.id %}">
                                    <div class="row">
                                        <div class="col-6">Total Services (not closed):</div>
                                        <div class="col-6 text-right" id="hostServices">{{hosts.num_of_services}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">Number of Open Ports:</div>
                                        <div class="col-6 text-right" id="hostOpenPortsNr">{{hosts.num_open_ports}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">Open Ports:</div>
                                        <div class="col-6 text-right" id="hostOpenPortsStr">{{hosts.str_open_ports}}</div>
                                    </div>              
                                </div>
                            </div>  
                        </div>
                    </div>
            </div>
        </div>

    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Latest changes for host <b>{{ hosts }}</b>
        </div>
        <div class="card-body">
        {% if changes %}
            <table id="datatablesSimpleHoCh" class="table" report-url="{% url 'website:host-changes' hosts.id %}">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Service</th>
                        <th>Attribute</th>
                        <th>Status</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Report</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Date</th>
                        <th>Service</th>
                        <th>Attribute</th>
                        <th>Status</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Report</th>
                    </tr>
                </tfoot>
                <tbody>
                {% for change in changes %}
                    <tr>
                        <td>{{ change.cur_report.f_endtime_str }}</td>
                        <td>
                            {% if change.service %}
                            <a href="{% url 'website:service-detail' change.service.id %}"> {{ change.service }}</a>
                            {% endif %}
                        </td>
                        <td>{{ change.attribute }}</td>
                        <td class="table-default">{{ change.status }}</td>
                        <td class="table-default">{{ change.prev_val }}</td>
                        {% if change.status == 'REMOVED' and change.service %}
                        <td class="table-default">Port {{ change.service.port }} now FILTERED (host DOWN or NMAP modified) </td>
                        {% elif change.status == 'ADDED' and change.service %}
                        <td class="table-default">Port {{ change.service.port }} likely altered (host UP or NMAP modified) </td>
                        {% else %}
                        <td class="table-default">{{ change.cur_val }}</td>
                        {% endif %}
                        <td><a href="{% url 'website:report-detail' change.cur_report.id %}"> {{ change.cur_report }}</a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}
            <p>'There are no changes registered for host "{{ hosts.main_address }}" in the database.' </p>
        {% endif %}
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Open/Filtered services for host <b>{{ hosts.main_address }}</b>
        </div>
        <div class="card-body">
        {% if services %}
            <table id="datatablesSimpleHoSe" class="table" report-url="{% url 'website:host-services' hosts.id %}">
                <thead>
                    <tr>
                        <th>Port</th>
                        <th>State</th>
                        <th>Protocol</th>
                        <th>Service</th>
                        <th>Reason</th>
                        <th>Owner</th>
                        <th>Banner</th>
                        <th>Tunnel</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Port</th>
                        <th>State</th>
                        <th>Protocol</th>
                        <th>Service</th>
                        <th>Reason</th>
                        <th>Owner</th>
                        <th>Banner</th>
                        <th>Tunnel</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for service in services %}
                    <tr>
                        <td>{{ service.port }}</td>
                        <td>{{ service.state }}</td>
                        <td>{{ service.protocol }}</td>
                        <td>{{ service.service }}</td>
                        <td>{{ service.reason }}</td>
                        <td>{{ service.owner }}</td>
                        <td>{{ service.banner }}</td>
                        <td>{{ service.tunnel }}</td>
                    </tr>
                    {% endfor %}
                <!--JSON response-->

                </tbody>
            </table>
        {% else %}
            <p>'There are no services registered for host "{{ hosts.main_address }}" in the database.' </p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'website/js/hostupdate.js' %}"></script>
{% endblock %}