{% extends "base.html" %}
{% block content %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">
                        <p>Groups</p>
                        {% if con %}
                        {% for group, report in con.items %}
                            <a class="small text-white stretched-link" href="#">{{ group }} | {{ report.hosts_up }} | {{ report.hosts_total }}</a>
                        {% endfor %}
                        {% else %}
                        <p>what the shit</p>
                        {% endif %}
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Warning Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Success Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Danger Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Area Chart Example
                    </div>
                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Bar Chart Example
                    </div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Recent Changes in Reports
            </div>
            <div class="card-body">
            {% if con %}
                <table id="datatablesSimple" class="table">
                    <thead>
                        <tr>
                            <th>Group</th>
                            <th>Scan</th>
                            <th>Ended at</th>
                            <th>Parameters</th>
                            <th>Scan Type</th>
                            <th>Number of Services</th>
                            <th>Hosts Up</th>
                            <th>Hosts Down</th>
                            <th>Total</th>
                            <th>Host Changes</th>
                            <th>Service Changes</th>
                            <th>Time Elapsed</th>
                            <th>Total Changes</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Group</th>
                            <th>Scan</th>
                            <th>Ended at</th>
                            <th>Parameters</th>
                            <th>Scan Type</th>
                            <th>Number of Services</th>
                            <th>Hosts Up</th>
                            <th>Hosts Down</th>
                            <th>Total</th>
                            <th>Host Changes</th>
                            <th>Service Changes</th>
                            <th>Time Elapsed</th>
                            <th>Total Changes</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for key, value in con.items %}
                        <tr>
                            <td>{{ key }}</td>
                            <td><a href="#"> {{ value.report.scan }}</a></td>
                            <td>{{ value.report.endtime_str }}</td>
                            <td>{{ value.report.full_cmndline }}</td>
                            <td>{{ value.report.scan_type }}</td>
                            <td>{{ value.report.num_services }}</td>
                            {% if value.changes and value.report_changes %}
                                {% if value.report_changes.hosts_up %}
                                <td>{{ value.report.hosts_up }} (<a href="#">{{value.report_changes.hosts_up}}</a>)</td>
                                {% else %}
                                <td>{{ value.report.hosts_up }}</td>
                                {% endif %}
                                {% if value.report_changes.hosts_down %}
                                <td>{{ value.report.hosts_down }} (<a href="#">{{value.report_changes.hosts_down}}</a>)</td>
                                {% else %}
                                <td>{{ value.report.hosts_down }}</td>
                                {% endif %}
                                {% if value.report_changes.hosts_total %}
                                <td>{{ value.report.hosts_total }} (<a href="#">{{value.report_changes.hosts_total}}</a>)</td>
                                {% else %}
                                <td>{{ value.report.hosts_total }}</td>
                                {% endif %}
                            {% else %}
                            <td>{{ value.report.hosts_up }}</td>
                            <td>{{ value.report.hosts_down }}</td>
                            <td>{{ value.report.hosts_total }}</td>

                            {% endif %}
                            <td>{{ value.report_changes.hosts_changed }}</td>
                            <td>{{ value.report_changes.services_changed }}</td>
                            <td>{{ value.report.elapsed }} seconds</td>
                            <td>{{ value.changes_count }}</td>
                        </tr>
                    {% endfor %}
    
                    </tbody>
                </table>
            {% else %}
                <p>There are no recent changes in any reports created by any scans in the database.</p>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}