{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">REPORTS</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Overview of all reports</li>
    </ol>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <ul class="nav nav-tabs float-xs-left" id="reportlistTab" role="tablist">
                        <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="reports-info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-pane" type="button" role="tab" aria-controls="info-tab-pane" aria-selected="true">Info</button>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item" role="presentation">
                        <button class="nav-link" id="report-options-tab" data-bs-toggle="tab" data-bs-target="#report-options-tab-pane" type="button" role="tab" aria-controls="report-options-tab-pane" aria-selected="false">Options</button>
                        </li>
                        {% else %}
                        <li class="nav-item" role="presentation">
                        <button class="nav-link btn-primary" id="report-options-tab" data-bs-toggle="tab" data-bs-target="#report-options-tab-pane" type="button" role="tab" aria-controls="report-options-tab-pane" aria-selected="false" disabled>Options</button>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="tab-content" id="reportlistTabContent">
                    <div class="tab-pane fade show active" report-url="{% url 'website:reports-totals' %}" id="info-tab-pane" role="tabpanel" aria-labelledby="reports-info-tab" tabindex="0">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" id="reportsCreatedTotal">{{totals.total_reports}} total reports created</li>
                                <li class="list-group-item" id="reportsParsedTotal">{{totals.total_success_reports}} succesfully parsed</li>
                                <li class="list-group-item" id="reportsFailedTotal">{{totals.total_failed_reports}} failed</li>
                              </ul>                            
                        </div>
                    </div>
                    <div class="tab-pane fade" id="report-options-tab-pane" role="tabpanel" aria-labelledby="report-options-tab" tabindex="0">
                        <div class="card-body">
                            {% if user.is_authenticated %}
                                <a href="#" class="btn btn-primary disabled">Download All Reports</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    Number of Changes in Reports Over Time per Scan
                </div>
                <div class="card-body" id="reportchartWrapper" ajax-target="{% url 'website:reports-chart' %}">
                    <div class="col-6 mx-auto text-center">
                    <canvas id="reportChart" width="500" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Reports
        </div>
        <div class="card-body">
        {% if reports_list %}
            <table id="datatablesSimple4" class="table" report-url="{% url 'website:reports-all-refresh' %}">
                <thead>
                    <tr>
                        <th>Started at</th>
                        <th>Ended at</th>
                        <th>Duration</th>
                        <th>Number of Services</th>
                        <th>Hosts Up</th>
                        <th>Hosts Down</th>
                        <th>Hosts Total</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Started at</th>
                        <th>Ended at</th>
                        <th>Duration (in seconds)</th>
                        <th>Number of Services</th>
                        <th>Hosts Up</th>
                        <th>Hosts Down</th>
                        <th>Hosts Total</th>
                        <th>Link</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for report in reports_list %}
                    <tr>
                        <td>{{ report.f_started_str }}</td>
                        <td>{{ report.f_endtime_str }}</td>
                        <td>{{ report.elapsed }}</td>
                        <td>{{ report.num_services }}</td>
                        <td>{{ report.hosts_up }}</td>
                        <td>{{ report.hosts_down }}</td>
                        <td>{{ report.hosts_total }}</td>
                        {% if report.f_started_str %}
                        <td><a href="{% url 'website:report-detail' report.id %}">View</a></td>
                        {% else %}
                        <td>{{ report.summary }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                <!--JSON response-->

                </tbody>
            </table>
        {% else %}
            <p>'There are no reports in the database.' </p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'website/js/reportlistupdate.js' %}"></script>
{% endblock js %}