{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid px-4">
    <h2 class="d-inline-block my-auto mt-4">Scan: {{ scans.scanName | upper }}</h2>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Group: 
            <a href="{% url 'website:groups-detail' scans.resourcegroup.id %}">{{ scans.resourcegroup | upper }}</a>
        </li>
    </ol>
    <div class="row">
        <div class="col-xl-6 col-md-6">
            <div class="card bg-info text-white mb-4">
                <div class="card-header">
                    <ul class="nav nav-tabs float-xs-left" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-pane" type="button" role="tab" aria-controls="info-tab-pane" aria-selected="true">Info</button>
                        </li>
                        {% if scans.scanAuthor == user or user.is_superuser %}
                        <li class="nav-item" role="presentation">
                        <button class="nav-link" id="options-tab" data-bs-toggle="tab" data-bs-target="#options-tab-pane" type="button" role="tab" aria-controls="options-tab-pane" aria-selected="false">Options</button>
                        </li>
                        {% else %}
                        <li class="nav-item" role="presentation">
                        <button class="nav-link" id="options-tab" data-bs-toggle="tab" data-bs-target="#options-tab-pane" type="button" role="tab" aria-controls="options-tab-pane" aria-selected="false" disabled>Options</button>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="info-tab-pane" role="tabpanel" aria-labelledby="info-tab" tabindex="0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">Last Executed:</div>
                                    <div class="col-6 text-right" id="last-exec-scanprogress">{{ scans.last_executed }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-6">Parameters:</div>
                                    <div class="col-6 text-right">{{ scans.ScanTemplate }}</div>
                                </div>  
                                <div class="row">
                                    <div class="col-6">Schedule:</div>
                                    <div class="col-6 text-right">{{ scans.formatted_schedule }}</div>
                                </div>                           
                            </div>
                        </div>
                        <div class="tab-pane fade" id="options-tab-pane" role="tabpanel" aria-labelledby="options-tab" tabindex="0">
                            <div class="card-body">
                                {% if scans.scanAuthor == user or user.is_superuser %}
                                    {% if scans.active %}
                                        <button id="toggle-button" scan-ajax-target="{% url 'website:scan-toggle' scans.id %}" value="{{scans.active}}" class="btn btn-danger d-inline-block my-auto">TURN OFF</button>
                                        <input type="hidden" id="active" value="1">
                                    {% else %}
                                        <button id="toggle-button" scan-ajax-target="{% url 'website:scan-toggle' scans.id %}" value="{{scans.active}}" class="btn btn-success d-inline-block my-auto">TURN ON</button>
                                        <input type="hidden" id="active" value="0">
                                    {% endif %}
                                    <a href="{% url 'website:edit-scan' scans.id %}" id="editButton" class="btn btn-primary">Edit</a>
                                    <a href="{% url 'website:delete-scan' scans.id %}" id="deleteButton" class="btn btn-primary">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <div class="small text-white">Created by <a class="small text-white" href="{% url 'users:profile-home' scans.scanAuthor.profile.id %}">{{ scans.scanAuthor }}</a> on {{ scans.create_date | date }}</div>
                    </div>
            </div>
        </div>
                
        <div class="col-xl-6 col-md-6">
            <div class="card bg-secondary text-white mb-4">
                <div class="card-header">
                    <ul class="nav nav-tabs float-xs-left" id="myTab2" role="tablist">
                        <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="status-tab" data-bs-toggle="tab" data-bs-target="#status-tab-pane" type="button" role="tab" aria-controls="status-tab-pane" aria-selected="true">Status</button>
                        </li>
                        <li class="nav-item" role="presentation">
                        <button class="nav-link" id="stats-tab" data-bs-toggle="tab" data-bs-target="#stats-tab-pane" type="button" role="tab" aria-controls="stats-tab-pane" aria-selected="false">Stats</button>
                        </li>
                    </ul>
                </div>
                    <div class="tab-content" id="myTabContent2">
                        <div class="tab-pane fade show active" id="status-tab-pane" role="tabpanel" aria-labelledby="status-tab" tabindex="0">
                            <div class="card-body">
                                <div class="card-body" id="stable-scanprogress">
                                    <div class="row">
                                        <div class="col-6">Scan is: </div>
                                        <div class="col-6 text-right" id="active-scanprogress">{{ scans.formatted_active }}</div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-6">Execution:</div>
                                        <div class="col-6 text-right" id="status-scanprogress">{{ scans.formatted_status }}</div>
                                    </div>
                                    {% if scans.formatted_active == "ON" %}
                                    <div class="row" id="next-exec-scanprogress">
                                        <div class="col-6">Next Execution:</div>
                                        <div class="col-6 text-right" id="next-val-scanprogress">{{ scans.formatted_next_execution_at }}</div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="card-body" id="scanprogress" data-ajax-target="{% url 'website:scan-progress' scans.id %}">
                                    <div class="row">
                                        <div class="col-6">Task Name:</div>
                                        <div class="col-6 text-right" id="task-name-scanprogress">{{ scans.task_name }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">Task Status: </div>
                                        <div class="col-6 text-right" id="task-status-scanprogress">{{ scans.task_status }}</div>
                                    </div> 
                                    <div class="progress">
                                        <div class="progress-bar" id="task-progress-scanprogress" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
                                    </div>                 
                                </div>
                            </div>            
                        </div>
                        <div class="tab-pane fade" id="stats-tab-pane" role="tabpanel" aria-labelledby="stats-tab" tabindex="0">
                            <div class="card-body">
                                <div class="card-body" id="statslist">
                                    <div class="row">
                                        <div class="col-6">Reports Generated: </div>
                                        <div class="col-6 text-right" id="statslist-report-count">0</div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-6">Average Execution Time:</div>
                                        <div class="col-6 text-right" id="statslist-exec-time">0</div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
            </div>
        </div>

    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Latest reports for <b>{{ scans.scanName | title }}</b>
        </div>
        <div class="card-body">
        {% if reports %}
            <table id="datatablesSimple4" class="table" report-url="{% url 'website:reports-refresh' scans.id %}">
                <thead>
                    <tr>
                        <th>Started at</th>
                        <th>Ended at</th>
                        <th>Duration</th>
                        <th>Number of Services</th>
                        <th>Hosts Up</th>
                        <th>Hosts Down</th>
                        <th>Hosts Total</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Started at</th>
                        <th>Ended at</th>
                        <th>Duration</th>
                        <th>Number of Services</th>
                        <th>Hosts Up</th>
                        <th>Hosts Down</th>
                        <th>Hosts Total</th>
                        <th>Link</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for report in reports %}
                    <tr>
                        <td>{{ report.f_started_str }}</td>
                        <td>{{ report.f_endtime_str }}</td>
                        <td>{{ report.elapsed }} seconds</td>
                        <td>{{ report.num_services }}</td>
                        <td>{{ report.hosts_up }}</td>
                        <td>{{ report.hosts_down }}</td>
                        <td>{{ report.hosts_total }}</td>
                        <td><a href="{% url 'website:report-detail' report.id %}">View</a></td>
                    </tr>
                    {% endfor %}
               

                </tbody>
            </table>
        {% else %}
            <p>'There are no reports generated by scan "{{ scans.scanName | title }}" in the database.' </p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'website/js/scanupdate.js' %}"></script>
<script src="{% static 'website/js/scans.js' %}"></script>
{% endblock %}