{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="col-xl-6">
    <div class="card mb-4">
      <div class="card-header">
          <i class="fas fa-table me-1"></i>
          New scan
      </div>
      <div class="card-body">
        <div>
          <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div></div>
            <input type="submit" class="btn btn-warning" value="Save">
            <input type="submit" class="btn btn-primary" value="Cancel" onclick="window.location.href='{% url 'website:index' %}';return false;">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}