{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{% translate 'Delete scan' %}</h1>

<p>{% translate 'Are you sure you want to delete the scan:' %} {{ scans.scanName }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" class = "btn btn-danger" value="{% translate 'Yes, delete' %}">
  <input type="submit" class = "btn btn-primary" value="{% translate 'Cancel' %}" onclick="window.location.href='{% url 'website:scan-detail' scans.id %}';return false;">
</form>
{% endblock %}