{% extends "base.html" %}
{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Search results</h1>
    <ol class="breadcrumb mb-4">
        {% if searched %}
        <li class="breadcrumb-item active">You search for: {{searched}}</li>
    </ol>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    Groups
                </div>
                <div class="card-body">
                    <div class="card-body">
                        {% if foundresourcegroups %}
                        <ul class="list-group list-group-flush">
                            {% for group in foundresourcegroups %}
                            <li class="list-group-item list-group-item-action">
                              <a href="{% url 'website:groups-detail' group.id %}">{{group.name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>No groups found </p>
                        {% endif %} 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    Hosts
                </div>
                <div class="card-body">
                    {% if foundhosts %}
                        <ul class="list-group list-group-flush">
                            {% for host in foundhosts %}
                            <li class="list-group-item list-group-item-action">
                              <a href="{% url 'website:hosts-detail' host.id %}">{{host.main_address}}</a>
                            </li>
                            {% endfor %}
                    </ul>
                    {% else %}
                    <p>No hosts found </p>
                    {% endif %} 
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Scans
        </div>
        <div class="card-body">
        {% if foundscans %}
            <table id="datatablesSimple" class="table">
                <thead>
                    <tr>
                        <th>Last execution at</th>
                        <th>Next execution at</th>
                        <th>Name</th>
                        <th>Current status</th>
                        <th>Active</th>
                        <th>Group</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Last execution at</th>
                        <th>Next execution at</th>
                        <th>Name</th>
                        <th>Current status</th>
                        <th>Active</th>
                        <th>Group</th>
                    </tr>
                </tfoot>
                <tbody>
                {% for scan in foundscans %}
                    <tr>
                        <td>{{ scan.last_executed }}</td>
                        <td>{{ scan.next_execution_at }}</td>
                        <td><a href="{% url 'website:scan-detail' scan.pk %}"> {{ scan.scanName }}</a></td>
                        {% if scan.status == 0 %}
                        <td class="table-success">DONE</td>
                        {% elif scan.status == 1 %}
                        <td class="table-success">READY</td>
                        {% elif scan.status == 2 %}
                        <td class="table-success">RUNNING</td>
                        {% elif scan.status == 3 %}
                        <td class="table-warning">CANCELLED</td>
                        {% elif scan.status == 4 %}
                        <td class="table-danger">FAILED</td>                        
                        {% else %}
                        <td class="table-default">NOT SET</td>
                        {% endif %}
                        {% if scan.active %}
                        <td class="table-success">ON</td>
                        {% else %}
                        <td class="table-info">OFF</td>
                        {% endif %}
                        <td><a href="{% url 'website:groups-detail' scan.resourcegroup.id %}"> {{ scan.resourcegroup }}</a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}
            <p>No scans found</p>
        {% endif %}
        </div>
    </div>
    {% else %}
            <li class="breadcrumb-item active">No search term entered</li>
    </ol>
    {% endif %}
</div>
{% endblock %}