{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">An overview of notable changes</li>
        </ol>
        <div class="row">
            <div class="col-xl-4 col-md-4 d-flex">
                <div class="card mb-4 flex-fill">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Active Scans
                    </div>
                    <div class="card-body" id="dashInfo">
                        {% if activescans %}
                        <table id="datatablesSimpleDashScans" class="table" report-url="{% url 'website:dashboard-scans' %}">
                            <thead>
                                <tr>
                                    <th>Scan</th>
                                    <th>Group</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for scan in activescans %}
                                <tr>
                                    <td><a class="small" href="{% url 'website:scan-detail' scan.id %}">{{ scan.scanName }}</a></td>
                                    <td><a class="small" href="{% url 'website:groups-detail' scan.resourcegroup.id %}">{{ scan.resourcegroup }}</a></td>
                                    <td><h6 class="small">{{ scan.formatted_status }}</h6></td>
                                </tr>
                            {% endfor %}
            
                                </tbody>
                            </table>
                        {% else %}
                        <div class="row mx-auto text-center">
                            <div class="col-12 ">No Active Scans</div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small" href="{% url 'website:scans-list' %}">View Scans</a>
                        <div class="small"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body" id="dashboardChanges" data-ajax-target="{% url 'website:dashboard-changes' %}">
                        <div id="change-carousel" class="carousel slide">
                            <div class="carousel-inner" id="innerC">
                               
                                <div class="carousel-item active">
                                  <!-- Change details here -->
                                  
                                  <div class="card-body mx-auto text-center">
                                    <h5 class="card-title text-center">No New Changes</h5>
                                    <div class="row">
                                        <div class="col-6">Host: </div>
                                        <div class="col-6 text-right">-</div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-6">Group: </div>
                                        <div class="col-6 text-right">-</div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-6">Change: </div>
                                        <div class="col-6 text-right">-</div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-6">Report: </div>
                                        <div class="col-6 text-right">-</div>
                                    </div> 
                                    </div>
                                </div>
                               
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#change-carousel" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#change-carousel" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>                        
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <button id="dashboardDismiss" scan-ajax-target="{% url 'website:dashboard-dismiss' %}" value="0" class="btn btn-danger d-inline-block my-auto" disabled>Dismiss All</button>
                        <input type="hidden" id="active" value="{% if changes %}0{% else %}1{% endif %}">
                        <a id="allChanges" href="{% url 'website:changes-only' %}" class="btn btn-primary d-inline-block my-auto" disabled>View All {{changes.totals}} Changes</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 d-flex">
                <div class="card mb-4 flex-fill">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Hosts UP per Group
                    </div>
                    <div class="card-body" id="dashchartWrapper" ajax-target="{% url 'website:dashboard-chart' %}">
                        <canvas id="dashboardChart" width="100%" height="40"></canvas></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small" href="{% url 'website:hosts-list' %}">View Hosts</a>
                        <div class="small"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Recent Changes
            </div>
            <div class="card-body">
            {% if con %}
                <table id="datatablesSimple" class="table">
                    <thead>
                        <tr>
                            <th>Observed at</th>
                            <th>Parameters</th>
                            <th>Hosts Up</th>
                            <th>Hosts Down</th>
                            <th>Host Changes</th>
                            <th>Service Changes</th>
                            <th>Total Changes</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for key, value in con.items %}
                        <tr>
                            <td>{{ value.report.f_endtime_str }}</td>
                            <td><a href="{% url 'website:scan-detail' value.report.scan.id %}">{{ value.report.full_cmndline }}</a></td>
                            {% if value.changes and value.report_changes %}
                                {% if value.report_changes.hosts_up %}
                                <td>{{ value.report.hosts_up }} ({{value.report_changes.hosts_up}})</td>
                                {% else %}
                                <td>{{ value.report.hosts_up }}</td>
                                {% endif %}
                                {% if value.report_changes.hosts_down %}
                                <td>{{ value.report.hosts_down }} ({{value.report_changes.hosts_down}})</td>
                                {% else %}
                                <td>{{ value.report.hosts_down }}</td>
                                {% endif %}
                            {% else %}
                            <td>{{ value.report.hosts_up }}</td>
                            <td>{{ value.report.hosts_down }}</td>
                            {% endif %}
                            <td>{{ value.report_changes.hosts_changed }}</td>
                            <td>{{ value.report_changes.services_changed }}</td>
                            <td>{{ value.changes_count }}</td>
                        </tr>
                    {% endfor %}
    
                    </tbody>
                </table>
            {% else %}
                <p>There are no recent changes in any reports created by any scans in the database.</p>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script src="{% static 'website/js/dashboardupdate.js' %}"></script>
{% endblock js %}
